body {
    background-color: #e9e3bc;
    overflow-x: hidden;
}

.full {
    width: 100vw;
    height: 95vh;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    gap: 15vh;
}

.dropDown {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    width: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
}

select {
    border: none;
    width: 20vh;
    text-align: center;
    appearance: none;
    outline: none;
    text-align-last: center; 
    display: flex;
}

.selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selector p {
    padding: 0;
    margin: 0;
    margin-bottom: 1vh;
}

.normal {
    margin: 0px;
    padding: 0 3vh 0 3vh;
}

.footer {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(185, 179, 138);

}


img {
    width: 20vw;
    border: none;
    border-radius: 10px;
}

.hover {
    transition: all 1s;
}

.hover:hover {
    transform: scale(110%);
    opacity: 0.8;
    cursor: pointer;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4vh;
  align-items: center;
  z-index: 5;
  position: relative;
}

.info_box {
    background: white;
    width: 15vw;
    border: none;
    border-radius: 20px;
    align-items: center;
    position: relative;
}

.icon {
  height: 25px;
  width: 25px;
  border-radius: 100px;
}

.selection__box {
    left: 0px;
    top: 0;
    height: 4vh;
    width: 3vw;
    position: absolute;
    background-color: #434c48;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}


.displayed {
    max-width: 40vw;
    width: 1vw;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 1vw;
    padding: 1vh 5vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -15px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    margin-left: 50vw;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.flex {
    opacity: 1;
    margin-left: 0;
}

.out {
    margin-left: -50vw;
}


[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

::selection { background: #4e6324; color: #fff; }


@media only screen and (max-width: 960px) {

    .full {
        width: auto;
    }

    .responsive {
        display: none;
    }

    .footer {
        justify-content: center;
        width: auto;
    }

    .dropDown {
        flex-direction: column;
        gap: 4vh;
    }

    img {
        width: 50vw;
    }

    .center {
        padding-top: 5vh;
    }

}